{% extends 'records/index.html' %}

{% block action %}
    <div style="width:1200px;">
                <div class="index_up_cs2_bg">

				<div class="sn_input">
				<P><span>*</span>请填写您购买的设备和SN码；</P>
				<label >
				<select class="sninput" name="select"  onBlur="if(!value){value=defaultValue; this.style.color='#134d89'}" style="color:#134d89"/>
				  <option>选择产品型号</option>
			    </select>
				</label>
				<input class="sninput1" value="输入SN码" onFocus="if(value==defaultValue){value='';this.style.color='#134d89'}" onBlur="if(!value){value=defaultValue; this.style.color='#134d89'}" style="color:#134d89"/></div>

				<div class="lx_input">
				<br><P>下面为选填项</P>
				<input class="sninput" value="请输入您的手机" onFocus="if(value==defaultValue){value='';this.style.color='#134d89'}" onBlur="if(!value){value=defaultValue; this.style.color='#134d89'}" style="color:#134d89"/>
				<input class="sninput1" value="请输入您的姓名" onFocus="if(value==defaultValue){value='';this.style.color='#134d89'}" onBlur="if(!value){value=defaultValue; this.style.color='#134d89'}" style="color:#134d89"/></div>



				</div>
<div class="ts">您输入的SN码不正确！请重新输入</div>
          </div>
		   <div class="biaoti"> <h1>固件升级包</h1></div>
		  <div style="width:1200px;">
                <input class="input_01" type="button" value="上一步" onClick="javascript:location='{% url 'index_up' %}'"/> <input class="input_02" type="button" value="下载升级包"  onClick="javascript:location='{% url 'index_up_cs2' %}'"/>
            </div>
{% endblock %}